.middle1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: rgb(186, 224, 243);
    width:100%; 
    margin-right: 0;
    margin-left: 0;
}

.box1{
  padding: 20px;
  text-align: center;
  width: 50%;
  background-color:black; 
  color: #cad3dc;
  margin-top: 6px;
  margin-bottom: 6px;
}

#email{
  color:white;
}

#password{
  color:white;
}

#login-btn{

    background-color: rgb(234, 234, 240);
    color: black;
    border: none;
    padding: 5px 50px;
    border-radius: 5px;
    font-size: 16px;
  
}