.middle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: rgb(186, 224, 243);
    width:100%; 
    margin-right: 0;
    margin-left: 0;
   
}

.box {
    padding: 20px;
    text-align: center;
    width: 50%;
    background-color:black; 
    color: #cad3dc;
    margin-top: 6px;
    margin-bottom: 6px;
        
}

