.checkout{
    display: flex;
    padding: 80px;
    padding-top: 110px;
    padding-left: 10px;
    background-color: white;
    height: max-content;
    width:100%;
}

.checkout-title{
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.check-ad{
    width: 100%;
    margin-bottom: 10px;
}
