.navbar{
    background-color: #232f3e;
    height: 120px;
    color: white;
    display: flex;
}

.navbar .link_2{
    
    text-decoration: none;
    color: white;
   
    flex: 1;
    background-color: rgb(6, 6, 59);
    margin-left: 50px;
    text-align: center;
    margin-right: 55px;
    margin-top: 60px;
    padding-top: 6px;
    padding-bottom: 8px;
    border-radius: 10px;
}

