.navbar{
    background-color: #232f3e;
    height: 100px;
    color: white;
}

.navbar-outer{
    width:100%;
    margin: auto;
    padding: 6px;
    margin-left: 0px;
    padding-left: 0px;
}

.navbar-outer a{
    color: whitesmoke;
    text-decoration: none;
    cursor: pointer;
    padding: 4px;
    margin-top: 90px;
    margin-right: 10px;
    background-color: blue;

}

.navbar-outer a:hover{
    border: 1px solid #fff;
    border-radius: 4px;
}

.navbar-inner{
    margin-top: 40px;
    width: 600px;
}