.home{
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

.offer{
    height: 350px;
    animation-delay: 4500ms;
    animation-duration: 500ms;
    aspect-ratio: 8251 /3050;
}

.home-image{
    width: 100%;
    z-index: -1;
    margin-bottom: -150px;

}

.home-row{
    display: flex;
    z-index: 1;
    margin-right: 5px;
    margin-left: 5px;
}