.home{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.home-image{
    width: 100%;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    z-index: -1;
    margin-bottom: -150px;
    object-fit: cover;

}

.home-row{
    display: flex;
    z-index: 1;
    margin-right: 5px;
    margin-left: 5px;
}