footer {
  background-color: #333;
  color: #fff;
  padding: 1em;
  width: 100%;
  margin-top: 50px;
  margin-left: 0 !important;
}

  .footer-container {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-left {
    flex-basis: 30%;
    background-color: #333;
  }

  .footer-center {
    flex-basis: 30%;
    background-color: #333;
  }

  .footer-right {
    flex-basis: 30%;
    background-color: #333;
  }

  nav {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start !important;
  }

  ul li {
    float: none;
    display: block;
    text-align: left !important;
    margin-left: 30px;
  }

  a {
    color: #fff;
    text-decoration: none;
    margin-left: 1em;
  }

  .bottom-tx {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    margin-top: 20px;
  }
