.middle{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

.contact{
    position: relative;
    min-height: 100vh;
    padding: 40px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}

 .contact-box {
        background-color: rgba(0, 0, 0, 0.5); /* Transparent background */
        padding: 40px;;
    }

.contact .content{
    max-width: 800px;
    text-align: center;
}

.contact .content h2{
    font-size: 46px;
    font-weight: 650;
    color: white;
}

.contact .content p{
    font-weight: 300;
    color: #fff;
}
.container{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo{
    width: 80%;
    display: flex;
    flex-direction: column;
    
}

.container .contactInfo .box{
    position:relative;
    padding: 20px 0;
    display: flex;
    margin-bottom: 0px;
}

.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background:rgb(12, 4, 61);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;

}

.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color:#fff;
    flex-direction: column;
    font-weight:300;
    text-align: left;
}

.container .contactInfo .box .text h3{
     font-weight: 500;
     color: yellow;
}


.container .social{
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.container .social .box{
    position:relative;
    padding: 20px 0;
    display: flex;
    margin-bottom: 15px;
}

.container .social .box .icon{
    min-width: 60px;
    height: 60px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;

}

.container .social .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color:#fff;
    flex-direction: column;
    font-weight:300;
    text-align: center;
}

.container .social .box .text h3{
     font-weight: 500;
     color: yellow;
}