.user-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.user-details-field {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid;
  margin: 10px;
  padding: 25px;
  
}

.user-details-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  text-align: right;
}

.user-details-row label {
  width: 150px;
}

.user-details-row input[type="text"],
.user-details-row input[type="email"],
.user-details-row input[type="password"] {
  width: 200px;
  margin-left: 20px;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
}

.user-details-save-button,
.user-details-edit-button,
.user-details-cancel-button {
  margin-top: 20px;
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 30px;
  width: 300px;
}

.user-details-save-button{
    background-color: #058e35;
}
.user-details-edit-button{
    background-color: #007bff;
}
.user-details-cancel-button{
    background-color: #6f00ff;
}

.user-details-save-button:hover,
.user-details-edit-button:hover,
.user-details-cancel-button:hover {
  background-color: #0069d9;
}
