.user-account-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  
  .user-account-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .user-account-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
  }
  
  .user-account-button {
    width: 400px;
    height: 50px;
    margin-bottom: 10px;
    font-size: 25px;
    background-color: #2f80ed;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .user-account-button:hover {
    background-color: #2a71c0;
  }
  