.header{
    background-color: #131921;
    display: flex;
    align-items: center;
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 60px;
   
}

.header-logo{
    width: 300px;
    object-fit: cover;  
    margin: auto; 
    justify-content: center;
    flex: 1;
}

.header-search{
    display: flex;
    flex: 3;
}

.header-search-input{
    height: 30px;
    padding: 10px;
    border: none;
    width: 500px;
    margin-left: 25%;
}

.header-search-icon{
    width: 20px;
    height: 30px !important;
    background-color: #cd904d;
}

.header-search-icon:hover{
    box-shadow: inset 5px 4px 5px rgba(0,0,0,.3),
                inset -4px -4px 10px white;
    transition: .2s;
}

.header-nav{
    display: flex;
    justify-content: space-evenly;
    flex: 1;
}
.header-link{
    color: white;
    text-decoration: none;
}

.header-option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.header-option-line1{
    font-size: 15px;
}   

.header-option-line2{
    font-size: 13px;
    font-weight: 800;
}

.header-option-basket{
    display: flex;
    align-items: center;
}

.header-product-count{
    margin-left: 10px;
    margin-right: 10px;
}
